{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "rules": {
    "no-debugger": 0,
    "no-console": 0,
    "brace-style": ["error", "stroustrup", { "allowSingleLine": true }]
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "globals": {
    "describe": true,
    "it": true,
    "expect": true,
    "beforeEach": true,
    "afterEach": true
  }
}
